/* static/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #18191A;
}

header {
    background-color: #242526;
    color: #e4e6eb;
    padding: 10px 0;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #3a3b3c;
    border-radius: 8px;
}

h2 {
    border-bottom: 2px solid #18191A;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #e4e6eb;
}

.about-me-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.about-me-content img {
    border-radius: 50%;
    margin-right: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
}

.social-links a:hover {
    text-decoration: underline;
}


p {
    line-height: 1.6;
    color: #e4e6eb;
}

ul {
    list-style: disc;
    padding-left: 20px;
    color: #e4e6eb;
}


ul li {
    margin: 10px 0;
    color: #e4e6eb;
}

ul li a {
    text-decoration: none;
    color: #007BFF;
}

ul li a:hover {
    text-decoration: underline;
    color: #e4e6eb;
}

ol {
    color: #e4e6eb;
}


.return-button {
    position: absolute;
    top: 10px;
    left: 10px;
}

.return-button button {
    padding: 10px 20px;
    font-size: 16px;
}

section img {
    max-width: 100%;  /* Ensures image scales down to fit */
    max-height: 400px;
    height: auto;  /* Maintains aspect ratio */
    width: auto;
    display: block;  /* Removes extra spacing below images */
    margin: 0 auto;  /* Centers images */
    object-fit: contain;  /* Ensures entire image is visible */
}
